html
{
	font-family:sans-serif;
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
	height:100%
}

format('truetype');

@media screen and (max-width:479px)
{
	.w-container
	{
		max-width:none
	}
	
	.w-hidden-main,.w-hidden-medium,.w-hidden-small
	{
		display:inherit!important
	}
	
	.w-hidden-tiny
	{
		display:none!important
	}
	
	.w-col
	{
		width:100%
	}
	
	.w-col-tiny-1
	{
		width:8.33333333%
	}
	.w-col-tiny-2
	{
		width:16.66666667%
	}
	
	.w-col-tiny-3
	{
		width:25%
	}
	
	.w-col-tiny-4{width:33.33333333%}
	
	.w-col-tiny-5{width:41.66666667%}
	
	.w-col-tiny-6{width:50%}
	
	.w-col-tiny-7{width:58.33333333%}
	
	.w-col-tiny-8{width:66.66666667%}
	
	.w-col-tiny-9{width:75%}
	
	.w-col-tiny-10{width:83.33333333%}
	
	.w-col-tiny-11{width:91.66666667%}
	
	.w-col-tiny-12{width:100%}
}

body
{
	margin:0;
	min-height:100%;
	background-color:#1a1a1a;
	font-family:Quattrocentosans,sans-serif;
	color:#fff;
	font-size:1vw;
	line-height:20px;
	font-weight:400
}

p
{
	margin-top:0;
	margin-bottom:0;
	color:#dfdfdf;
	font-size:1.46em;
	line-height:1.6
}

.section.padding--tb-144
{
	padding-top:10em;
	padding-bottom:10em
}

.heading--xxl
{
	margin-top:0;
	margin-bottom:0;
	font-family:owners-xwide,sans-serif;
	font-size:4.86em;
	line-height:.9;
	font-weight:800;
	text-transform:uppercase
}

.button
{
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	padding:1rem 2rem;
	-webkit-box-align:center;
	-webkit-align-items:center;
	-ms-flex-align:center;
	align-items:center;
	background-color:#49ea58;
	-webkit-transition:background-color .2s;
	transition:background-color .2s;
	font-family:owners-xwide,sans-serif;
	color:#1a1a1a;
	font-size:1.11em;
	line-height:1.6;
	font-weight:700;
	text-align:left;
	text-decoration:none;
	text-transform:uppercase
}

.button.is-ghost
{
	-webkit-box-flex:0;
	-webkit-flex:0 0 auto;
	-ms-flex:0 0 auto;
	flex:0 0 auto;
	border:2px solid #fff;
	background-color:transparent;
	-webkit-transition:color .2s,background-color .2s,border-color .2s;
	transition:color .2s,background-color .2s,border-color .2s;
	color:#fff
}

.button.is-ghost:hover
{
	border-color:#49ea58;
	background-color:#49ea58;
	color:#1a1a1a
}

.button.is-ghost.is-black
{
	border-color:#1a1a1a;
	-webkit-transition:color .2s,background-color .2s;
	transition:color .2s,background-color .2s;
	color:#1a1a1a
}

.button.is-ghost.is-black:hover
{
	background-color:#1a1a1a;
	color:#fff
}

.overflow-hidden
{
	overflow:hidden
}

.overflow-auto
{
	overflow:auto
}


.margin-bottom-32
{
	margin-bottom:2.22em
}


.button--arrow
{
	width:4.03em;
	height:1.11em;
	margin-left:.69em
}

.cta--wrapper
{
	position:relative;
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	width:100%;
	height:58em;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	-webkit-flex-direction:column;
	-ms-flex-direction:column;
	flex-direction:column;
	-webkit-box-pack:center;
	-webkit-justify-content:center;
	-ms-flex-pack:center;
	justify-content:center;
	-webkit-box-align:center;
	-webkit-align-items:center;
	-ms-flex-align:center;
	align-items:center
}

.cta--lottie-desktop
{
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	z-index:0
}


.cta--content
{
	position:relative;
	z-index:1;
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	max-width:56.25em;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	-webkit-flex-direction:column;
	-ms-flex-direction:column;
	flex-direction:column;
	-webkit-box-pack:center;
	-webkit-justify-content:center;
	-ms-flex-pack:center;
	justify-content:center;
	-webkit-box-align:center;
	-webkit-align-items:center;
	-ms-flex-align:center;
	align-items:center;
	color:#1a1a1a;
	text-align:center
}

.text-black
{
	color:#1a1a1a
}

.cta--lottie-mobile
{
	display:none
}

